.about {
    overflow: hidden;
    @media(min-width:728px){
        max-height: 790px;
    }
    &__container {
    }

    &__swiper {
        min-width: 100%;
    }

    &__wrapper {
        min-height: 100%;
        min-width: 100%;

        @media(min-width:728px){
            max-height: 795px;
            min-height: none;
        }
    }

    &__slide {
        // min-height: 100%;
        // height: 100%;
        // max-height: rem(1280);
        @media(min-width:728px){
            max-height: 795px;
            min-height: none;
        }
    }
    .swiper-slide {
        
    }
    &__slider-first {
    }

    &__button-row {
    }

    &__button {
    }
}
.about__slide.swiper-slide {
    
}
.swiper-slide {
    min-height: 100%;
}
.slider-first {
    
    @include adaptiveClamp(padding-top, 130, 40);
    @include adaptiveClamp(padding-bottom, 130, 70);
   
    background: url(@img/slider-first-fon.png) no-repeat center center / cover;
    @media(max-width:727px){
        background: transparent;
    }
    &__container {
        display: flex;
        flex-direction: column;
        @include adaptiveClamp(gap, 40, 30);
    }   
    &__title {
        @include adaptiveClamp(max-width, 785, 360);
        @media(max-width:727px){
            text-align: center;
            @include adaptiveClamp(max-width, 800, 800);
        }
    }
    &__img {
        display: none;
        margin: 0 rem(-15);
        width: 108%;
        @media(max-width:727px){
            display: block;
        }
    }
    &__text {
        font-weight: 600;
        span {
            color: $greenColor;
        }
        @media(max-width:727px){
            text-align: center;
        }
    }

    &__row {
        display: flex;
        align-items: center;
        @media(max-width:727px){
            flex-direction: column;
            row-gap: rem(30);
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        @include adaptiveClamp(gap, 30, 20);
    }

    &__item {
    }
    &__button-row {
        margin-left: rem(10);
        @media(max-width:727px){
           margin: 0 auto;
        }
    }
}
.item-first {
    display: flex;
    position: relative;
    height: 100%;
    &__icon {
        margin-top: rem(-5);
        position: relative;
        padding-left: rem(12);
        img {
            position: absolute;
            z-index: 2;
            left: 0;
            top: rem(16);
            width: rem(20);
            height: rem(20);
        }
    }

    &__number {
        line-height: none;
        color: #1E8E31;
        font-size: 40px;
    }

    &__text {
        margin-left: rem(15);
        @include adaptiveClamp(font-size, 20, 16);
    }
    &:nth-child(1) {
        p {
            margin-left: rem(23);
        }
    }
}
.button-slider-first {
    background: #1E8E31;
    width: rem(174);
    height: rem(174);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease  0s;
    &:hover {
        background: rgb(75,165,90);
    }
    &:active {
        background: rgb(26,114,39);
    }
    &__icon {
        width: rem(17.5);
        margin-bottom: rem(10);
    }

    &__text {
        
        font-size: rem(16);
        color: $whiteColor;
    }
}
.bold {
}








.about {

    &__slide {
    }

    &__slider-cheked {
    }
}
.slider-cheked {
    @include adaptiveClamp(padding-top, 145, 70);
    @include adaptiveClamp(padding-bottom, 150, 130);
    &__row {
        display: flex;
        max-width: rem(1158);
        min-height: 100%;
        justify-content: space-between;
        @media(max-width:727px){
            flex-direction: column;
            row-gap: rem(124);
        }
    }

    &__body {
        max-width: rem(588);
        height: 100%;
        width: 100%;
        @media(max-width:727px){
            max-width: 100%;
        }
    }

    &__pagination {
        margin-bottom: rem(60);
    }

    &__number {
        margin: 0 0 rem(9) rem(15);
    }

    &__line {
        position: relative;
        width: 100%;
        height: rem(6);
        border-radius: 36px;
        background: #D9D9D9;
        max-width: rem(588);
        &::before {
            position: absolute;
            content: '';
            width: 16.666%;
            height: 100%;
            background: #1E8E31;
            top:0;
            left: 0;
            transition: width 0.5s ease  0.5s;
        }
    }

    &__title {
        margin-bottom: rem(40);
        margin-right: rem(-200);
        @media(max-width:727px){
            margin-right: 0;
        }
    }

    &__radio-label {
        display: inline-block;
        position: relative;
        cursor: pointer;
        padding-left: rem(36);
        transition: all 0.3s ease  0s;
        @include adaptiveClamp(font-size, 20, 17);
        &::before {
            position: absolute;
            display: inline-block;
            content: '';
            width: rem(20);
            height: rem(20);
            background-color: $whiteColor;
            border-radius: 50%;
            border: 1px solid #D9D9D9;
            box-shadow: $btnBoxShadow;
            top:rem(2);
            left: 0;
        }
        &::after {
            display: inline-block;
            position: absolute;
            content: '';
            width: rem(20);
            height: rem(20);
            background: url(@img/item-first-icon.svg) no-repeat center center / contain;
            top:rem(2.5);
            left: 0;
            transition: all 0.3s ease  0s;
            opacity: 0;
        }

    }

    // &__radio-input {
    //     display: none;
    //     &:checked + .slider-cheked__radio-label::after {
    //         opacity: 1;
    //     }
    //     &:checked + .slider-cheked__radio-label {
    //         font-weight: 700;
    //     }
    // }
    &__radio-input {
        // opacity: 0;
        // position: absolute;
        // left: 0;
        // width: 100%;
        // height: 100%;
        display: none;
        &__buttom-next.button {
            font-size: rem(20);
        }
    }
    .slider-cheked__radio-label.active {
        font-weight: 700;
        &::after {
            opacity: 1;
        }
    }
    &__checkbox-label {
        display: inline-block;
        position: relative;
        cursor: pointer;
        padding-left: rem(36);
        transition: all 0.3s ease  0s;
        @include adaptiveClamp(font-size, 20, 17);
        &::before {
            position: absolute;
            display: inline-block;
            content: '';
            width: rem(20);
            height: rem(20);
            background-color: $whiteColor;
            border-radius: 2px;
            border: 1px solid #D9D9D9;
            box-shadow: $btnBoxShadow;
            top:rem(2);
            left: 0;
        }
        &::after {
            display: inline-block;
            position: absolute;
            content: '';
            width: rem(15);
            height: rem(15);
            background: url(@img/icon-checkbox.svg) no-repeat center center / contain;
            top:rem(4);
            left: rem(2.5);
            transition: all 0.3s ease  0s;
            opacity: 0;
        }
    }
    &__checkbox-input {
        position: absolute;
        width: rem(200);
        height: 100%;
        left: 0;
        top: 0;
        opacity: 0;
    }
    .active .slider-cheked__checkbox-label {
        font-weight: 700;
        &::after {
            opacity: 1;
        }
    }

    &__item {
        position: relative;
        margin-bottom: rem(20);
    }

    &__row-card {
        display: flex;
        flex-direction: column;
        gap: rem(20);
        margin-top: rem(60);
        @media(max-width:727px){
            margin-top: rem(-40);
            align-items: center;
        }
    }

    &__card {
        
    }

   

    &__button-row {
        margin-top: rem(60);
        display: flex;
        align-items: center;
        gap: rem(20);
    }

    &__buttom-back {
        width: rem(50);
        height: rem(50);
        background: none;
        border: 1px solid #1E8E31;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        img {
            width: rem(18);
            // height: rem(5);
            position: relative;
            
        }
    }
    &__buttom-next, &__buttom-scen {
        padding: rem(13) rem(17);
        max-width: rem(93);
    }
    &__buttom-scen { 
        max-width: rem(180);
    }
    &__buttom-send {
        display: block;
        height: rem(50);
        padding: rem(13) rem(17);
        max-width: rem(102);
        font-size: rem(17);
    }

    &__buttom-miss {
        cursor: pointer;
        font-size: rem(15);
        
        color: #9B9B9B;
        transition: all 0.3s ease  0s;
        &:hover {
            color: #464646;
        }
    }
}

.form {

    &__item {
    }
}
.cheked-card {
    display: flex;
    align-items: center;
    gap: rem(20);
    padding: rem(20);
    border-radius: 5px;
    border: 1px solid #D9D9D9;
    width: rem(282);
    margin-left: rem(20);
    @media(max-width:727px){
        margin-left: 0;
    }
    &__img {
        width: rem(40);
        @media(max-width:727px){
            width: rem(48);
        }
    }
    &__text {
        font-size: rem(17);
        @media(max-width:727px){
            font-size: rem(20);
        }
    }
    @media(max-width:727px){
        width: 100%;
        padding: rem(24);
    }
}
.slider-cheked {
    &__label {
        margin-top: rem(40);
        display: block;
        font-size: rem(17);
        font-weight: 700;
        margin-bottom: rem(10);
    }
    &__sub-text {
        margin-top: rem(10);
        font-weight: 300;
        font-size: rem(17);
    }
    &__input.text {
        padding: rem(18) rem(15);
        margin-right: rem(50);
        @media(max-width:727px){
            max-width: rem(540);
        }
    } 
    .slider-cheked__buttom-next {
        font-size: rem(20);
        font-weight: 400;
    }
}

.slider-cheked1 {
    .slider-cheked__buttom-back {
        display: none;
    }
    .slider-cheked__buttom-scen {
        
    }
    .slider-cheked__button-row {
        @include adaptiveClamp(margin-top, 80, 40);
    }
}

.slider-cheked2 {
    .slider-cheked__button-row {
        @include adaptiveClamp(margin-top, 123, 75);

    }
    .slider-cheked__line {
        &::before {
            width: 33.332%;
        }
    }
}
.slider-cheked3 {
    .slider-cheked__button-row {
        @include adaptiveClamp(margin-top, 128, 80);
    }
    .slider-cheked__line {
        &::before {
            width: 49.998%;
        }
    }
}
.slider-cheked4 {
    .slider-cheked__button-row {
        @include adaptiveClamp(margin-top, 121, 73);
    }
    .slider-cheked__line {
        &::before {
            width: 66.666%;
        }
    }
}
.slider-cheked5 {
    .slider-cheked__button-row {
        @include adaptiveClamp(margin-top, 101, 53);
    }
    .slider-cheked__line {
        &::before {
            width: 83.333%;
        }
    }
   
}

.slider-cheked6 {
    .slider-cheked__button-row {
        margin-top: auto;
        @media(max-width:727px){
            margin-top: rem(20);
        }
    }
    .slider-cheked__line {
        &::before {
            width: 100%;
        }
    }
    .slider-cheked__input {
        margin-bottom: rem(20);
    }
   
}

.slider-cheked7 {
    .slider-cheked__button-row {
        @include adaptiveClamp(margin-top, 88, 40);
    }
    .slider-cheked__line {
        &::before {
            width: 100%;
        }
    }
    .slider-cheked__input {
        margin-bottom: rem(20);
    }
   
}


.slider-tranks {
    @include adaptiveClamp(padding-top, 145, 70);
    @include adaptiveClamp(padding-bottom, 150, 130);
    display: flex;
    align-items: center;
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @include adaptiveClamp(gap, 30, 20);
        margin: auto;
    }

    &__title {
        text-align: center;
        @media(max-width:680px){
            br {
                display: none;
            }
        }
    }

    &__text {
        font-size: rem(17);
        text-align: center;
    }

    &__button-row {
    }

    &__button {
        display: block;
        max-width: rem(480);
        padding: rem(20) rem(30);
    }
}
.swiper-scen {
    display: none;
}
.swiper-scen._active {
    display: block;
}
.swiper-first._disablet {
    display: none;
}

.slider-cheked__line.fist {
    &::before {
        width: 33%;
    }
}
.slider-cheked__line.two {
    &::before {
        width: 55%;
    }
}
.slider-cheked__line.three {
    &::before {
        width: 80%;
    }
}
.slider-cheked__line.for {
    &::before {
        width: 100%;
    }
}