.footer {
  padding: rem(30) 0;
  background: #EEE;
  border-top: 1px solid #8A8A8A;
  @media(max-width:727px){
    padding: rem(30);
  }

  // .footer__container
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include media(960) {
      flex-direction: column;
      align-items: center;
    }
  }
 p {
  font-size: rem(15);
  font-weight: 300;
  color: #767676;
 }
  &__rights {

  }

  &__policy {
    text-decoration: underline;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease  0s;
      &:hover {
        color: #0c506c;
    }
  }
}
